#bookbody {
    border: solid;
    border-color: black;
    border-radius: 10px;
    margin-top: 10%;
}

#signin {
    border: solid;
    border-width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-color: black;
    
}


#register {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}